# Ignore node_modules (optional if you want)
node_modules

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Windows AppData cache folders (Spotify cache causing issues)
AppData/

# Ignore Expo and build output folders
.expo
build
dist

# Ignore any other temp files or folders
*.log
